@import "tailwindcss";
@font-face {
  font-family: Myfont;
  src: url("/Fonts/AL-Mohanad.ttf");
}

@font-face {
  font-family: Boldfont;
  src: url("/Fonts/AL-Mohanad-Extra-Bold.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
button,
a {
  font-family: Myfont;
}

@utility container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}

@utility fonBold {
  font-family: Boldfont !important;
}

@custom-variant dark (&:where(.dark, .dark *));
